:root {
	--primary-color: #427683;
	--error-color: #E05555;
	--warning-color: #FEBA14;
	--success-color: #4DCE58;
	--text-color: #201F20;
	--text-color-secondary: #989898;
	--component-background: #F4F8F9;
	--white: #fff;
	--black: #14121E;
	--font-size-base: 14px;
	--font-size-lg: var(--font-size-base) + 2px;
	--font-size-sm: 12px;
}
